firmware/tools/openocd
firmware/tools/openocd-source
firmware/tools/gccarm.installed
bin/
build/
devel/
reflex_driver/yaml/*calibrate.yaml
reflex/yaml/reflex_sf_zero_points.yaml
*~
*.pyc
*.bag
*.bag.active
firmware/beta/bin
